{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{%static 'css/form.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body>
<div class="container">
    <div class="card">
        <div class="form">
            <div class="left-side">
                <div class="left-heading">
                    <h3>State Life</h3>
                </div>
                <div class="steps-content">
                    <h3>Step <span class="step-number">1</span></h3>
                    <p class="step-number-content active">Please enter your personal information to complete the policy form.</p>
                    <p class="step-number-content d-none">Please enter your personal information to complete the policy form.</p>
                    <p class="step-number-content d-none">Please enter your personal information to complete the policy form.</p>
                    <p class="step-number-content d-none">Please provide your physical information in the form below to proceed.</p>
                    <p class="step-number-content d-none">Please provide your family history in the form below to complete your medical record.</p>
                    <p class="step-number-content d-none">Add your profile picture and let companies find youy fast.</p>
                </div>
                <ul class="progress-bar">
                    <li class="active">Personal Information</li>
                    <li>Personal Information</li>
                    <li>Personal Information</li>
                    <li>Physical Information</li>
                    <li>Family History</li>
                    <li>User Photo</li>
                </ul>
    
            </div>
            <div class="right-side">
                <div class="main active">
                    <small><i class="fa fa-smile-o"></i></small>
                    <div class="text">
                        <h2>Your Personal Information</h2>
                        <p>Please enter your personal information to complete the policy form.</p>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="text" required  id="name">
                            <span>Name</span>
                        </div>
                        <div class="input-div"> 
                            <input type="text" required id="father-name">
                            <span>Father/Husband's Name</span>
                        </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="text" required id="phone" name="phone">
                            <span>Phone number</span>
                        </div> 
                        <div class="input-div">
                            <input type="email" required id="email" name="email">
                            <span>E-mail Address</span>
                        </div> 
                    </div>
                    <div class="input-text">
                    <div class="input-div">
                        <input type="text" required id="address" name="address">
                        <span>Address</span>
                    </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <p>Date of Birth</p>
                            <input type="date" required id="dob" name="dob" placeholder="">
                            
                        </div>
                        <div class="input-div">
                            <p>Age</p>
                            <input type="number" id="age" name="age" disabled> 
                                
                        </div>
                        </div>
                    <div class="input-text">
                        <div class="input-div">
                            
                            <label for="POB">Place Of Birth:</label>
                            <select>
                                <option selected>Pakistan</option>
                            </select>
                        
                        </div>
                        <div class="input-div">
                            <label for="cities">Cities:</label>
                            <select id="cities" name="cities">
                                <option value="Karachi" selected>Karachi</option>
                                <option value="Lahore">Lahore</option>
                                <option value="Faisalabad">Faisalabad</option>
                                <option value="Rawalpindi">Rawalpindi</option>
                                <option value="Multan">Multan</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Gujranwala">Gujranwala</option>
                                <option value="Peshawar">Peshawar</option>
                                <option value="Quetta">Quetta</option>
                                <option value="Islamabad">Islamabad</option>
                            </select>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="next_button">Next Step</button>
                    </div>
                </div>

                <div class="main">
                    <small><i class="fa fa-smile-o"></i></small>
                    <div class="text">
                        <h2>Your Personal Information</h2>
                        <p>Please enter your personal information to complete the policy form.</p>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <p>Monthly income</p>
                            <input type="number" id="monthly-income" name="monthly-income" min="40000" step="5000">
                        </div>
                        <div class="input-div"> 
                            <input type="text" required id="sum-assured">
                            <span>Sum Assured</span>
                        </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div"> 
                            <input type="text" required id="premium">
                            <span>Premium</span>
                        </div> 
                        <div class="input-div">
                            <label for="Plan">Plan:</label>
                            <select id="plan" name="Plan">
                                <option>Select Plan</option>
                                <option value="Jeevan Sathi Assurance" >Jeevan Sathi Assurance</option>
                                <option value="Child Protection Assurance">Child Protection Assurance</option>
                                <option value="Wealth Builder Plan">Wealth Builder Plan</option>
                                <option value="Supplementary Covers">Supplementary Covers</option>
                                
                            </select>
                        </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="text" required id="table" name="table">
                            <span>Table</span>
                        </div>
                    
                        <div class="input-div">
                            <input type="text" required id="term" name="term">
                            <span>Term</span>
                        </div>
                    </div>
                    <div class="input-text">
                        <h3>Mode:</h3> 

                            <div class="form-group p-a-2">
                                <p>YLY</p><input type="checkbox" name="checkBox1">
                            </div>
                            <div class="form-group p-a-2">
                                <p>HLY</p><input type="checkbox" name="checkBox1">
                            </div>
                            <div class="form-group p-a-2">
                                <p>QLY</p><input type="checkbox" name="checkBox1">
                            </div>
                            <div class="input-div">
                                <input type="text" required id="supplementary-contract" name="supplementary-contract">
                                <span>Supplementary contract</span>
                            </div>
                    
                        </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="text" id="previous-policy-number">
                            <span>Previous policy number</span>
                        </div>
                    </div>                        
                    <div class="buttons">
                        <button class="back_button">Back</button>
                        <button class="next_button">Next Step</button>
                    </div>
                </div>

                <div class="main">
                    <small><i class="fa fa-smile-o"></i></small>
                    <div class="text">
                        <h2>Your Personal Information</h2>
                        <p>Please enter your personal information to complete the policy form.</p>
                        <p >Optional</p>
                    </div>

                    <div class="input-text">
                        <div class="input-div">
                            <input type="text" id="for-lady">
                            <span>For Lady</span>
                        </div>
                            <div class="input-div"> 
                                <input type="number" id="employe">
                                <span>Employe #</span>
                            </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="text"  id="education">
                            <span>Education</span>
                        </div>
                        <div class="input-div"> 
                            <input type="number" id="gpe-no.">
                            <span>GPE NO.</span>
                        </div>
                    </div>

                    <div class="input-text">
                        <div class="input-div">
                            <p>Husbend income</p>
                            <input type="number" id="husbend-income" name="husbend-income" min="40000" step="5000">
                        </div>
                        <div class="input-div"> 
                            <input type="text" id="monthly-deduction">
                            <span>Monthly Deduction</span>
                        </div>
                    </div>

                    <div class="input-text">
                        <div class="input-div">
                            <p>Date of Lamp</p>
                            <input type="date" id="dob" name="dol">
                        </div>

                        <div class="input-div"> 
                            <input type="text" id="yearly-deduction">
                            <span>Yearly Deduction</span>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="back_button">Back</button>
                        <button class="next_button">Next Step</button>
                    </div>

                    </div>

                </div>

                <div class="main">
                    <small><i class="fa fa-smile-o"></i></small>

                    <div class="text">
                        <h2>Your Physical Information</h2>
                        <p>Please enter your physical information to further proceed the form.</p>
                    </div>
                    {% comment %} <div class="input-text">
                        <div class="input-div">
                            <label for="diseaseSelect" >Any Disease:</label>
                                <select id="diseaseSelect" multiple>
                                  <option >Select (one or many)</option>
                                  <option value="cancer">Cancer</option>
                                  <option value="diabetes">Diabetes</option>
                                  <option value="heartDisease">Heart disease</option>
                                  <option value="flu">Influenza</option>
                                  <option value="measles">Measles</option>
                                  <option value="alzheimers">Alzheimer's disease</option>
                                  <option value="asthma">Asthma</option>
                                  <option value="autism">Autism</option>
                                  <option value="bronchitis">Bronchitis</option>
                                  <option value="chickenpox">Chickenpox</option>
                                  <option value="cholera">Cholera</option>
                                  <option value="depression">Depression</option>
                                  <option value="gastroenteritis">Gastroenteritis</option>
                                  <option value="hypertension">Hypertension</option>
                                  <option value="malaria">Malaria</option>
                                  <option value="obesity">Obesity</option>
                                  <option value="parkinsons">Parkinson's disease</option>
                                  <option value="tuberculosis">Tuberculosis</option>
                                  <option value="arthritis">Arthritis</option>
                                  <option value="celiac">Celiac disease</option>
                                  <option value="crohns">Crohn's disease</option>
                                  <option value="diphtheria">Diphtheria</option>
                                  <option value="hepatitis">Hepatitis</option>
                                  <option value="influenza">Influenza</option>
                                  <option value="kidney">Kidney disease</option>
                                  <option value="leukemia">Leukemia</option>
                                  <option value="multipleSclerosis">Multiple sclerosis</option>
                                  <option value="pneumonia">Pneumonia</option>
                                  <option value="polio">Polio</option>
                                  <option value="rabies">Rabies</option>
                                  <option value="stroke">Stroke</option>
                                  <option value="Other">Other</option>
                                </select>

                        </div>
                
                        <div class="input-div">Any Operation:</label>
                            <select id="operationSelect" multiple>
                              <option >Select (one or many)</option>
                              <option value="appendectomy">Appendectomy</option>
                              <option value="craniotomy">Craniotomy</option>
                              <option value="hipReplacement">Hip replacement</option>
                              <option value="hysterectomy">Hysterectomy</option>
                              <option value="kneeReplacement">Knee replacement</option>
                              <option value="amputation">Amputation</option>
                              <option value="cardiacBypass">Cardiac bypass surgery</option>
                              <option value="cataract">Cataract surgery</option>
                              <option value="cesarean">Cesarean section</option>
                              <option value="cochlearImplant">Cochlear implant surgery</option>
                              <option value="coronaryArteryBypass">Coronary artery bypass surgery</option>
                              <option value="dental">Dental surgery</option>
                              <option value="gastricBypass">Gastric bypass surgery</option>
                              <option value="laparoscopic">Laparoscopic surgery</option>
                              <option value="laryngectomy">Laryngectomy</option>
                              <option value="mastectomy">Mastectomy</option>
                              <option value="nephrectomy">Nephrectomy</option>
                              <option value="spinalFusion">Spinal fusion</option>
                              <option value="tonsillectomy">Tonsillectomy</option>
                              <option value="angioplasty">Angioplasty</option>
                              <option value="breastAugmentation">Breast augmentation</option>
                              <option value="colostomy">Colostomy</option>
                              <option value="dialysis">Dialysis</option>
                              <option value="endoscopy">Endoscopy</option>
                              <option value="gastroenterostomy">Gastroenterostomy</option>
                              <option value="laparotomy">Laparotomy</option>
                              <option value="oophorectomy">Oophorectomy</option>
                              <option value="rhinoplasty">Rhinoplasty</option>
                              <option value="tracheostomy">Tracheostomy</option>
                              <option value="vasectomy">Vasectomy</option>
                              <option value="Other">Other</option>
                            </select>
                        </div> {% endcomment %}
                        <div class="buttons">
                            <button class="back_button">Back</button>
                            <button class="next_button">Next Step</button>
                        </div>
                    </div>
     
                </div>





                <div class="main">
                    <small><i class="fa fa-smile-o"></i></small>
                    <div class="text">
                        <h2>Work Experiences</h2>
                        <p>Can you talk about your past work experience?</p>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="text" required require>
                            <span>Experience 1</span>
                        </div>
                        <div class="input-div"> 
                            <input type="text" required require>
                            <span>Position</span>
                        </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="text" required>
                            <span>Experience 2</span>
                        </div>
                        <div class="input-div">
                            <input type="text" required>
                            <span>Position</span>
                        </div>
                    </div>
                    <div class="input-text">
                        <div class="input-div">
                            <input type="text" required>
                            <span>Experience 3</span>
                        </div>
                        <div class="input-div">
                            <input type="text" required>
                            <span>Position</span>
                        </div>
                    </div>
                    <div class="buttons button_space">
                        <button class="back_button">Back</button>
                        <button class="next_button">Next Step</button>
                    </div>
                </div>
             
                <div class="main">
                    <small><i class="fa fa-smile-o"></i></small>
                    <div class="text">
                        <h2>User Photo</h2>
                        <p>Upload your profile picture and share yourself.</p>
                    </div>
                    <div class="user_card">
                        <span></span>
                        <div class="circle">
                            <span><img src="https://i.imgur.com/hnwphgM.jpg"></span>
                            
                        </div>
                        <div class="social">
                            <span><i class="fa fa-share-alt"></i></span>
                            <span><i class="fa fa-heart"></i></span>
                            
                        </div>
                        <div class="user_name">
                            <h3>Peter Hawkins</h3>
                            <div class="detail">
                                <p><a href="#">Izmar,Turkey</a>Hiring</p>
                                <p>17 last day . 94Apply</p>
                            </div>
                        </div>
                    </div>
                    <div class="buttons button_space">
                        <button class="back_button">Back</button>
                        <button class="submit_button">Submit</button>
                    </div>
                </div>

                 <div class="main">
                     <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                         <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                     
                    <div class="text congrats">
                        <h2>Congratulations!</h2>
                        <p>Thanks Mr./Mrs. <span class="shown_name"></span> your information have been submitted successfully for the future reference we will contact you soon.</p>
                    </div>
                </div>            

            </div>
        </div>
    </div>
</div>
</body>
<script>


var currentDate = new Date();
// Set the minimum date to 70 years in the past
var minDate = new Date();
minDate.setFullYear(minDate.getFullYear() - 70);
document.getElementById('dob').min = minDate.toISOString().split('T')[0];
// Set the maximum date to the current date
document.getElementById('dob').max = currentDate.toISOString().split('T')[0];

// Get the date of birth input element
var dobInput = document.getElementById('dob');
// Add an event listener for the "change" event
dobInput.addEventListener('change', function() {
  // Calculate the age
  var dob = dobInput.value;
  var dobParts = dob.split('-');
  var currentYear = new Date().getFullYear();
  var age = currentYear - dobParts[0];
  // Display the age
  document.getElementById('age').value = age;
});
// fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=pakistan&key=AIzaSyBmun43bE7a_ESKoWp-S5mNBEudHiEXb3Y`)
//   .then(response => response.json())
//   .then(data => {
//     console.log(data); // Log the data to the console
//     // Get the list of cities
//     console.log(data)
//     var cities = data['_embedded']['city:search-results'];
//     // AIzaSyBmun43bE7a_ESKoWp-S5mNBEudHiEXb3Y
//     // Add the cities to the select element
//     cities.forEach(city => {
//       var option = document.createElement('option');
//       option.value = city.name;
//       option.text = city.name;
//       citySelect.add(option);
//     });
//   });

var next_click=document.querySelectorAll(".next_button");
var main_form=document.querySelectorAll(".main");
var step_list = document.querySelectorAll(".progress-bar li");
var num = document.querySelector(".step-number");
let formnumber=0;

next_click.forEach(function(next_click_form){
    next_click_form.addEventListener('click',function(){
        if(!validateform()){
            return false
        }
       formnumber++;
       updateform();
       progress_forward();
       contentchange();
    });
}); 

var back_click=document.querySelectorAll(".back_button");
back_click.forEach(function(back_click_form){
    back_click_form.addEventListener('click',function(){
       formnumber--;
       updateform();
       progress_backward();
       contentchange();
    });
});

var name=document.querySelector("name");
var shownname=document.querySelector(".shown_name");
 

var submit_click=document.querySelectorAll(".submit_button");
submit_click.forEach(function(submit_click_form){
    submit_click_form.addEventListener('click',function(){
       shownname.innerHTML= name.value;
       formnumber++;
       updateform(); 
    });
});

var heart=document.querySelector(".fa-heart");
heart.addEventListener('click',function(){
   heart.classList.toggle('heart');
});


var share=document.querySelector(".fa-share-alt");
share.addEventListener('click',function(){
   share.classList.toggle('share');
});

 

function updateform(){
    main_form.forEach(function(mainform_number){
        mainform_number.classList.remove('active');
    })
    main_form[formnumber].classList.add('active');
} 
 
function progress_forward(){
    // step_list.forEach(list => {
        
    //     list.classList.remove('active');
         
    // }); 
    
     
    num.innerHTML = formnumber+1;
    step_list[formnumber].classList.add('active');
}  

function progress_backward(){
    var form_num = formnumber+1;
    step_list[form_num].classList.remove('active');
    num.innerHTML = form_num;
} 
 
var step_num_content=document.querySelectorAll(".step-number-content");

 function contentchange(){
     step_num_content.forEach(function(content){
        content.classList.remove('active'); 
        content.classList.add('d-none');
     }); 
     step_num_content[formnumber].classList.add('active');
 } 
 

function validateform(){
    validate=true;
    var validate_inputs=document.querySelectorAll(".main.active input");
    validate_inputs.forEach(function(vaildate_input){
        vaildate_input.classList.remove('warning');
        if(vaildate_input.hasAttribute('require')){
            if(vaildate_input.value.length==0){
                validate=false;
                vaildate_input.classList.add('warning');
            }
        }
    });
    return validate;
    
}
    </script>
</html>