{% extends 'base.html' %}

{% load static %}

{% block content %}




    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

      
     
      <div class="carousel-indicators">
        
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" 
        aria-label="Slide 1"></button>

        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">

          <img src="{%static 'img/t.png' %}" width="1200" height="700" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block ">
            <h1>Welcome to State Life</h2>
            <h5>Helath Plans| Investment Plans</h5>
            <!-- <button class="btn btn-danger">Technology</button>
            <button class="btn btn-danger">Web Development</button> -->
            
          </div>
        </div>
        <div class="carousel-item">
          <img width="1200" height="700" src="{%static 'img/t.png' %}" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block ">
            <h1>Welcome to State Life</h2>
              <h5>Helath Plans| Investment Plans</h5>
            <!-- <button class="btn btn-danger">Technology</button>
            <button class="btn btn-danger">Web Development</button> -->
          </div>
        </div>
        <div class="carousel-item">
          <img src="{%static 'img/t.png' %}" width="1200" height="700" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block ">
            <h1>Welcome to State Life</h2>
              <h5>Helath Plans| Investment Plans</h5>
            <!-- <button class="btn btn-danger">Technology</button>
            <button class="btn btn-danger">Web Development</button> -->
          </div>
        </div>
      </div>
        
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

     
    </div>
    <div class="img-logo" align="right">
      <img src="https://sehatsahulat.com.pk/images/detail-01%20.png"  align="right" width="60" height="62" alt="">
      <a  href="/"  target="_blank">Registration Process </a>
    </div>  
    
   
    <div class="container my-5">
      <h2 style="font-family:'Times New Roman', Times, serif; font-weight: 300;">Insurance Plans</h2>
        <div class="row mb-2">
            <div class="col-md-6">
              
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
                <div class="col p-4 d-flex flex-column position-static">
                  <!-- <strong class="d-inline-block mb-2 text-primary">World</strong> -->
                  <h3 class="mb-0">Jeevan Saathi Assurance</h3>
                  <div class="mb-1 text-muted">Nov 12</div>
                  <p class="card-text mb-auto">The only thing certain in life is that nothing is certain.As such while we should always hoper for the best...</p>
                  <a class="btn btn-primary btn-secondary-outline btn-lg" style="width: 38%; height:25%;"  target="_blank" href="https://www.statelife.com.pk/index.php/jeevan-sathi-assurance">
                    Read More</a>
                </div>
                <div class="col-auto d-none d-lg-block  ">
                  <img width="242" height="241" src="https://www.jubileelife.com/wp-content/uploads/2016/04/SLP-242x241.jpg" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="SLP ad" loading="lazy" srcset="https://www.jubileelife.com/wp-content/uploads/2016/04/SLP-242x241.jpg 242w, https://www.jubileelife.com/wp-content/uploads/2016/04/SLP-242x241-150x150.jpg 150w, https://www.jubileelife.com/wp-content/uploads/2016/04/SLP-242x241-180x180.jpg 180w" sizes="(max-width: 242px) 100vw, 242px">
                  <!-- <img class="bd-placeholder-img" width="200" height="250" src="{%static 'img/u.jpg' %}" alt=""> -->
        
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">Design</strong>
                  <h3 class="mb-0">Post title</h3>
                  <div class="mb-1 text-muted">Nov 11</div>
                  <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary btn-secondary-outline btn-lg" style="width: 38%; height:25%;" href="https://www.jubileelife.com/product/jubilee-health-shield/">
                    Read More</a>
                  
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="{%static 'img/y.jpg' %}" alt="">

        
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">World</strong>
                  <h3 class="mb-0">Featured post</h3>
                  <div class="mb-1 text-muted">Nov 12</div>
                  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary btn-secondary-outline btn-lg" style="width: 38%; height:25%;" href="https://www.jubileelife.com/product/jubilee-health-shield/">
                    Read More</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="{%static 'img/y.jpg' %}" alt="">
        
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success">Design</strong>
                  <h3 class="mb-0">Post title</h3>
                  <div class="mb-1 text-muted">Nov 11</div>
                  <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                  <a class="btn btn-primary btn-secondary-outline btn-lg" style="width: 38%; height:25%;" href="https://www.jubileelife.com/product/jubilee-health-shield/">
                    Read More</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="{%static 'img/y.jpg' %}" alt="">
                  

        
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="container" >
      <h2 >Contact Us</h2>
      <div style="border:2px solid blue"></div>
      

    <div class="parent" style="display:block" >
      <div class="row">
        <div class="col-md-3"align='center' >
          <div class="a"  style="color:white"> 
            <br>
            <h4><strong>SMS</strong></h4> 
          

            <div style="color: black;margin-bottom: 44px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="56" fill="rgb(55, 55, 255)" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
  <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
  <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
</svg>   
          <div>
            <h6>SMS</h6>
            <p><strong>Your Query </strong> to <strong>8554</strong> </p>
          </div> 
            </div>

          </div>

        </div>
        <div class="col-md-3 " style="padding-top:63px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="65" height="56" fill="rgb(55,55,255)" class="bi bi-telephone-outbound" viewBox="0 0 16 16">
            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"/>
          </svg>
        
          </div>

          <div class="col-md-3"  style="padding-top:63px">
            <svg xmlns="http://www.w3.org/2000/svg" width="56" height="65" fill="rgb(55,55,255)" class="bi bi-envelope-plus-fill" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 4.697v4.974A4.491 4.491 0 0 0 12.5 8a4.49 4.49 0 0 0-1.965.45l-.338-.207L16 4.697Z"/>
              <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 0 0 1 0v-1h1a.5.5 0 0 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z"/>
            </svg>
          </div>

        </div>
       
        
    </div>
      
      
        

        </div>
      </div>

    </div> -->

    <!-- <div class="container">
      <h2>News and Announcements</h2>
      <div class="row my-2">
        <div class="col-lg-4">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">World</strong>
              <h3 class="mb-0">Featured post</h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
             
            </div>
            
          </div>
        </div>
        
          <div class="col-lg-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
               
              </div>
              
            </div>
         
            <div class="col-lg-4">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary">World</strong>
                  <h3 class="mb-0">Featured post</h3>
                  <div class="mb-1 text-muted">Nov 12</div>
                  <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                 
                </div>
                
              </div>

      
    </div> -->


  
    <footer class="container">
      <p class="float-end"><a href="#">Back to top</a></p>
      <p>© 201022 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

    

   

{% endblock content %}