<!DOCTYPE HTML>

<html>
	<head>
		<title>Jeevan Saathi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/pages/css/main.css" />
		<noscript><link rel="stylesheet" href="static/pages/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

			<div id="wrapper" class="divided">

					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Jeevan Saathi</h1>
							<h2>Eligible ages:-</h2>
    <p>Minimum Age (Equivalent): 20 years<br>
      Maximum Age: 50 years<br>
      Equivalent Age (Maximum) on Maturity: 70 years</p>
      
      <p>This is a joint life plan and covers lives of two partners say husband and wife simultaneously. Premiums are payable till the end of the specified term or till death of either of the insured persons, if earlier. The plan contains extensive benefits; an overview of which appears as under:</p>
      <p>On the death of the first life, the sum insured will be paid to the survivor. Further premiums under the policy will be waived, but the insurance protection of the second life will continue. Also, the policy will continue to participate in profits of the Corporation. On death of the second life, again the sum insured will be paid together with the attaching bonuses. In this event the policy will terminate.</p>
      <p>If the second life survives the term of the policy, he or she will be paid sum insured together with the attached bonuses, even though the sum insured has been paid once, on the death of the first life. If both the lives survive the term of the policy, the sum insured will be paid to them jointly, only once, together with the attached bonuses. Different supplementary covers are also available for increasing coverage under the policy.</p>
      <p>Jeevan Sathi Plan is best suited for those married couples who want to enjoy insurance coverage for a comparatively lesser premium. Moreover, housewives who are otherwise not insurable can also enjoy the benefits of insurance policy through this plan. </p>
							<ul class="actions stacked">
								<li><a href="{% url 'login' %}" class="button big wide smooth-scroll-middle">Get Started</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="./static/img/ik.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h3>Minimum Age:</h3>
							<p>Minimum Age (Equivalent): 20 years</p>
							
						</div>
						<div class="image">
							<img src="./static/img/img6.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h3>Maximum Age:</h3>
							<p>Maximum Age is 50 years</p>
							
						</div>
						<div class="image">
							<img src="./static/img/img7.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h3>Equivalent Age:</h3>
							<p>Equivalent Age (Maximum) on Maturity: 70 years</p>
						
						</div>
						<div class="image">
							<img src="./static/img/img8.jpg" alt="" />
						</div>
					</section>

				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
							<p>&copy;Design: <a href="http://127.0.0.1:8000/">State Life</a>.</p>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/pages/js/jquery.min.js"></script>
			<script src="static/pages/js/jquery.scrollex.min.js"></script>
			<script src="static/pages/js/jquery.scrolly.min.js"></script>
			<script src="static/pages/js/browser.min.js"></script>
			<script src="static/pages/js/breakpoints.min.js"></script>
			<script src="static/pages/js/util.js"></script>
			<script src="static/pages/js/main.js"></script>

	</body>
</html>